.body{
    display: flex;
    flex-direction: column;
    background-color: #aaa;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/*****************************NAV*******************************/
.nav-item{
    margin: 0 10px 0 10px;
}
.link-style{
    transition: all 300ms;
}
.link-style:hover{
    transform: scale(1.05);
}
/*****************************NAV*******************************/

/*****************************LOG IN*******************************/
.log-in{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
}
/* .log-in__message{

} */
.log-in__input{
    margin: auto;
    padding: 0;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-area{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0 10px 0;
}
.input-area--button{ /*Solo 1 botón*/
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 10px 0 10px 0;
}
.input-area--buttons{ /*2 o mas botones*/
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0 10px 0;
}
.input{
    border: 0px;
    border-radius: 5px;
    padding: 7px;
    margin: 10px 0 0;
    transition: all 300ms;
}
.input:hover{
    transform: scale(1.01);
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.4)
}
.button{
    color:black;
    padding: 5px;
    border: 0px;
    border-radius: 5px;
    transition: all 200ms;
}
.button:hover{
    transform: scale(1.05);
    background-color: rgb(214, 214, 214);
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.4);
}
.button a{
    color:black;
    text-decoration: none;
}
.button a:hover{
    color:black;
    text-decoration: none;
}

/*****************************LOG IN*******************************/

/**************************PERSONAL INFO***************************/

/**************************PERSONAL INFO***************************/


/*************************POSTULACIONES****************************/
/*-----------------------------FILTRO-----------------------------*/
.form-filter{
    width: 100%;
    margin: 15px 0 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select-filter{
    border: 0px;
    width: 80%;
}
.buttons-filter{
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}
.buttons-filter .button{
    position: relative;
    left: 30px;
}
/*-----------------------------FILTRO-----------------------------*/

.summary{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.summary .tittle{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.summary .tittle p{
    margin-left: 10px;
    color: rgba(66, 66, 66, 0.493);
}
.summary-description{
    width:max-content;
    margin-top:15px;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-items: center;
}
.summary-description .company-image{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.summary-description .summary-info{
    padding: 10px;
}
.summary-description div p{
    padding: 5px;
    text-align: justify;
    margin: 5px 0 5px 0;
}
.summary-description div{
    margin: 15px;
    border: 1px solid black;
}
/*************************POSTULACIONES****************************/

/*************************JOB OFFERS*******************************/
.joboffers-summary-options{
    display: flex;
    flex-direction: row;
}
.joboffers-summary-options .button{
    width: 100px;
}